.asset-grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.asset-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgb(255, 255, 255);
    text-align: center;
}

.asset-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.asset-text {
    width: 100%;
    height: 300px;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin-bottom: 12px;
}

.download-btn {
    display: inline-block;
    padding: 8px 14px;
    background: #3498db;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}
